@import '../../../styles/variables';
@import '../../../styles/mixins';

.placeFilter {
  display: flex;
  transition: opacity 0.3s ease;

  &.locked {
    pointer-events: none;
    opacity: 0.7;
  }

  .placesDropdown {
    flex: 1;
    margin: 0 5px 0 0;

    & > div:first-of-type {
      border-color: var(--c-grey-1);
      box-shadow: none;
      border-radius: 0;
    }

    & > div:nth-of-type(2) {
      border-radius: 0;
    }
  }

  .geolocationButton {
    @include button;
    color: #195cd8;
    font-size: 1.2rem;
    padding: 3px 8px;
  }
}

@media (max-width: $breakpoint-lg) {
  .placeFilter {
    width: 100%;
    margin: 0 0 auto 0;
  }
}

@media (any-hover: hover) {
  .placeFilter {
    .geolocationButton:hover {
      background: var(--c-white);
      color: var(--c-primary);
      border-color: var(--c-grey-1);
    }
  }
}
