@import '../../../styles/variables';
@import '../../../styles/mixins';

.dateList {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0 0 0 auto;

  li {
    list-style: none;
    display: inline-flex;
    margin: auto 10px auto 0;
    position: relative;
    transition: opacity 0.3s ease;

    &.datePickerWrapper {
      .datePickerInput {
        max-width: 130px;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 1px solid var(--c-grey-1);
        color: var(--c-grey-4);
        padding: 6px 10px;
        font-size: 0.9rem;
        cursor: pointer;
        text-align: left;
      }

      &:after {
        @include angleIcon(2px, 3px);
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        right: 10px;
        transform: translateY(-50%) rotate(45deg);
        transition: border-color 0.3s ease;
      }
    }

    &.locked {
      pointer-events: none;
      opacity: 0.7;
    }

    &.active {
      button {
        color: var(--c-primary);
      }
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:nth-of-type(7),
    &:nth-of-type(8) {
      display: none;
    }
  }
}

.dateButton {
  @include button;
}

@media (max-width: $breakpoint-lg) {
  .dateList {
    max-width: 100%;
    overflow: auto;

    li {
      margin-bottom: 10px;

      &.datePickerWrapper {
        display: none;
      }

      &:nth-of-type(7),
      &:nth-of-type(8) {
        display: inline-flex;
      }
    }
  }

  .dateButton {
    min-width: 100px;
  }
}

@media (any-hover: hover) {
  .dateList {
    li {
      &.active {
        button:hover {
          color: var(--c-white);
        }
      }

      &.datePickerWrapper:hover {
        &:after {
          border-color: var(--c-primary);
        }
      }
    }
  }
}
