@import '../../../styles/variables';
@import '../../../styles/mixins';

.reservations {
  @include container;

  .placesWrapper {
    display: flex;
    flex-flow: row wrap;

    .places {
      flex: 1 1 100%;

      .placeName {
        margin: 0 0 0.3rem 0;
      }

      .placeDates {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        margin: 0;

        & > li {
          flex: 1 1 50%;
          list-style: none;
          margin: 0 0 0.3rem 0;
          transition: 0.3s ease;

          .placeDate {
            font-size: 0.9rem;
            margin: 0 0 0.3rem 0;
          }

          .placeDateStartTimes {
            margin: 0;
            padding: 0;

            .placeDateStartTime {
              list-style: none;
              display: inline-flex;
              margin: 0 0.7rem 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .reservations {
    .placesWrapper {
      .places {
        flex: 1 1 100%;

        .placeDates {
          display: block;
        }
      }
    }
  }
}

@media (any-hover: hover) {
  .reservations {
    .placesWrapper {
      .places {
        .placeDates:hover {
          & > li {
            opacity: 0.5;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
