@import '../../../styles/mixins';

.ticketsManager {
  .tickets {
    @include container;

    .ticket {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 0.7rem 0;
      padding: 0 0 0.3rem 0;
      border-bottom: 1px solid var(--c-grey-1);

      &:last-of-type {
        margin: 0;
      }

      .details {
        .name {
          display: inline-block;
        }

        .price {
          display: inline-block;
          padding-left: 0.3rem;
          font-size: 0.9rem;

          &:before {
            content: '- ';
          }
        }
      }

      select {
        background: var(--c-white);
        border: 1px solid var(--c-grey-1);
        padding: 0.1rem 0.7rem;
        box-shadow: none;
        outline: none;
        -webkit-appearance: none;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }

  .noTickets {
    font-size: 1.1rem;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
}
