@import '../../../styles/variables';
@import '../../../styles/mixins';

.event {
  @include container(true);
  list-style: none;

  .eventPhotoWrapper {
    display: flex;
    align-items: center;
    flex: 0 1 5%;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }
  }

  .eventNameWrapper {
    display: flex;
    flex: 1 1 45%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;

    a {
      color: var(--c-grey-4);
      transition: color 0.3s ease;
    }
  }

  .eventStartTimes {
    display: flex;
    flex: 1 1 50%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 10px 10px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .event {
    .eventPhotoWrapper {
      flex: 0 1 20%;
    }

    .eventNameWrapper {
      flex: 1 1 40%;
    }

    .eventStartTimes {
      flex: 1 1 40%;
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .event {
    .eventPhotoWrapper {
      flex: 0 1 100%;
      margin: 0 0 10px 0;
    }

    .eventNameWrapper {
      flex: 1 1 100%;
      padding: 0;
    }

    .eventStartTimes {
      flex: 1 1 100%;
      margin: 10px 0 0 0;
    }
  }
}

@media (any-hover: hover) {
  .event {
    .eventNameWrapper a:hover {
      color: var(--c-primary);
    }
  }
}
