@import '../../../styles/mixins';
@import '../../../styles/variables';

.summary {
  overflow: auto;

  .summaryContent {
    @include container;

    .posterWrapper {
      display: block;
      margin: 0 0 0.7rem 0;
      text-decoration: none;

      img {
        max-width: 100%;
        max-height: 350px;
        display: block;
        margin: auto;
      }
    }

    .details {
      .eventTitle {
        display: block;
        text-align: center;
        color: var(--c-grey-4);
        margin: 0 0 0.7rem 0;
      }

      .ticket {
        &:after {
          content: ', ';
        }

        &:last-of-type {
          &:after {
            content: '';
          }
        }
      }

      .seat {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 0 0.3rem 0;

        .seatRow,
        .seatPlaces {
          display: inline-flex;
          padding: 0 0.3rem 0 0;

          .label {
            padding: 0 0.3rem 0 0;
          }
        }

        .seatPlaces {
          .placesNumbers {
            display: inline-flex;
            flex-flow: wrap;

            .placeNumber {
              &:after {
                content: ',';
                padding-right: 0.2rem;
              }

              &:last-of-type:after {
                content: '';
                padding-right: 0;
              }
            }
          }
        }

        &:last-of-type {
          padding: 0;
        }
      }

      table {
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid var(--c-grey-1);
        width: 100%;
        font-family: 'Source Sans Pro', serif;

        tr {
          td {
            padding: 0.3rem;

            &:first-of-type {
              text-align: right;
              color: var(--c-grey-2);
            }

            &:last-of-type {
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .summary {
    max-height: 100vh;
    padding: 0.7rem;

    .summaryContent {
      padding: 0;
      border: none;
    }
  }
}
