@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Source+Sans+Pro:300,400&subset=latin-ext');
@import '../../../../node_modules/react-datepicker/dist/react-datepicker.min.css';
@import '../../styles/dependencies';
@import '../../styles/mixins';

:root {
  --c-white: #fff;
  --c-black: #000;
  --c-red: #f44336;
  --c-orange: #ff5722;
  --c-green: #00c853;
  --c-grey: #f5f5f5;
  --c-grey-1: #dedede;
  --c-grey-2: #999;
  --c-grey-3: #35393c;
  --c-grey-4: #333;

  --c-primary: var(--c-orange);

  --container-lg: 1160px;
  --container-md: 980px;
  --container-sm: 740px;
  --container-min: 320px;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  min-width: var(--container-min);
}

*::-moz-focus-inner {
  border: 0;
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-flow: column nowrap;
  background: var(--c-white);
}

:global(.title) {
  @include title;
}

:global(.subtitle) {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0.4rem 0;
  color: var(--c-grey-4);
}

@media (any-hover: hover) {
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}

@media (any-hover: none) {
  a:hover {
    text-decoration: none;
  }
}
