@import '../../styles/variables';
@import '../../styles/mixins';

.newsList {
  .title {
    @include title;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .seeAllLink {
      @include button;
    }
  }

  .newsItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0;
    margin: 0 0 0.7rem 0;
  }
}

@media (max-width: $breakpoint-md) {
  .newsList .newsItems {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $breakpoint-sm) {
  .newsList .newsItems {
    grid-template-columns: 1fr;
  }
}
