@import '../../../styles/variables';
@import '../../../styles/mixins';

.detailsAndDescription {
  @include container(true);
  font-family: 'Source Sans Pro', serif;
  padding: 0.7rem 0;

  .descriptionWrapper,
  .detailsWrapper {
    flex: 1 1 50%;
    padding: 0 0.7rem;
  }

  .descriptionWrapper {
    border-right: 1px solid var(--c-grey-1);
  }

  .detailsWrapper {
    table {
      tr {
        td {
          padding: 0.3rem 0;

          &:last-of-type {
            padding: 0.3rem 0.6rem;
          }
        }
      }
    }

    .production {
      .countries {
        & + .year {
          &:before {
            content: ' ';
          }
        }

        .country {
          display: inline;

          &:not(:last-of-type):after {
            content: ', ';
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .detailsAndDescription {
    .descriptionWrapper,
    .detailsWrapper {
      flex: 1 1 100%;
    }
  }
}
