@import '../../../styles/mixins';

.navigation {
  width: 100%;
  background-color: var(--c-white);
  border-bottom: 1px solid var(--c-grey-1);
  padding: 0.7rem 0;
}

.link {
  width: auto;
  color: var(--c-grey-4);
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0 0.7rem;
  transition: color 0.3s ease;

  &.active {
    color: var(--c-primary);
  }
}

.nextButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50px;
  border: none;
  background: transparent;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 10px 0 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;

  &:focus {
    outline: none;
  }

  &[aria-disabled='true'] {
    display: none;
  }
}

.angleRight {
  @include angleIcon(2px, 5px);
  transform: rotate(-45deg);
}

@media (any-hover: hover) {
  .link:hover {
    color: var(--c-primary);
  }
}
